<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

<body>
    <div class="container">
        <main>
            <header>
                <div class="nav-content">
                    <ul class="nav-links">
                        <li><a href="#shopall">Shop All</a></li>
                        <li><a href="#shop">Cart</a></li>
                        <li><a href="#home">
                                <h1>TEST</h1>
                            </a></li>
                        <li><a href="#quiz">Quiz</a></li>
                        <li><a href="#shop">Help</a></li>
                    </ul>
                </div>
            </header>
        </main>
    </div>
</body>