<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<div class="main-content">
    <div class="headingContent">
        <img class="headingImage" src="../../assets/placeholder.webp">


        <div id="container" class="headingText">
            <div id="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300"
                    xml:space="preserve">
                    <defs>
                        <path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 " />
                    </defs>
                    <circle cx="150" cy="100" r="75" fill="none" />
                    <g>
                        <use xlink:href="#circlePath" fill="none" />
                        <text fill="#f3e3cb">
                            <textPath xlink:href="#circlePath">TEST TEST TEST TEST TEST TEST TEST TEST TEST
                            </textPath>
                        </text>
                    </g>
                </svg>
            </div>
        </div>

    </div>
    <div class="middleContent">
        <img class="overlay-image" src="../../assets/placeholder.webp">
        <h2 class="overlay-text">This is a test</h2>
        <button id="myButton">Hover over me</button>
    </div>
    <div class="quizContent">
        <div class="quizImage"></div>
        <img class="quizCoverPhoto" src="../../assets/placeholder.webp">
        <div class="quizText">
            <h2>test quiz</h2>
            <button>test quiz button</button>
        </div>
    </div>
</div>